@font-face {
  font-family: 'mplight';
  font-display: swap;
  src: url(../fonts/mplus-2c-light.woff) format("woff");
}
@font-face {
  font-family: 'mpreg';
  font-display: swap;
  src: url(../fonts/mplus-2c-regular.woff) format("woff");
}

@font-face{
  font-family: 'FontAwesome';
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
       url('../fonts/fontawesome-webfont.woff') format('woff');
}