body{
  width: 300px;
  height: 300px;
  margin: 0;
}
.circle-loader {
  width: 120px;
  height: 120px;
  margin: 90px 0 0 90px;
  fill: transparent;
  stroke: #009688;
  stroke-width: 4;
  animation: dash 2s ease infinite,rotate 2s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 2,187;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 145,187;
    stroke-dashoffset: -15;
  }
  100% {
    stroke-dasharray: 1,187;
    stroke-dashoffset: -185;
  }
}

@keyframes rotate {
  0% {transform: rotate(0deg); }
  100% {transform: rotate(360deg); }
}